<div>
    <table width="100%">
    <h1>Bank search Application</h1>
       <select class="text" width="100%">
                <option value="Bangalore">Bangalore</option>
                <option value="Delhi">Delhi</option>
                <option value="kolkatta">kolkatta</option>
                <option value="cuttack">cuttack</option>
            </select><br/><br>
                 <input type="text" [(ngModel)]="search" placeholder="Serach any fields"/> 
            ​        <table border="1" width="100%">
              <tr>
                <th>Action</th>
                <th>bank name</th>
                <th>IFSC</th>
                <th>Bank ID</th>
                <th>Branch</th>
                
    </tr>
    <tr *ngFor="let customer of users | filter:search,let i=index "> 
            <th scope="row">{{i+1}}</th>
                <td>{{customer.bankname}}</td>
                <td>{{customer.IFSC}}</td>
                <td>{{customer.Bankid}}</td>
                <td>{{customer.Branch}}</td>
    
              </tr>
            ​</table>
    </table>
    </div>