<h6 display1>Multiple Choice Questions</h6>
<p>1. Who has been appointed as the new chairman of the Central Board of Indirect taxes and Customs (CBIC)? </p>
<p *ngFor='let a of opt1'>
<input type="radio" name="answer"  (click)="validate(a)"> {{a}}<br>
​
<p>2.  India’s first-ever national police museum will be established in which city?</p>
<p *ngFor='let b of opt2'>
<input type="radio" name="g"  (click)="validate(b)" >{{b}}<br></p>
​
<p>3. Which country’s football team has won the 2018 Intercontinental Cup football title?</p>
<p *ngFor='let c of opt3'>
<input type="radio" name="e"  (click)="validate(c)"> {{c}}<br></p>
​
<p>4. Mahatma Gandhi founded which of the following newspapers in 1903 at South Africa?</p>
<p *ngFor='let d of opt4'>
<input type="radio" name="n" (click)="validate(d)"> {{d}}<br></p>
​
<p>5.Who among the following is known as “The Saint of Gutters”?</p>
<p *ngFor='let e of opt5'>
<input type="radio" name="d" (click)="validate(e)"> {{e}}<br></p>
​
<input type="button" name="gender" value="Submit" (click)="submit()"><br>